Repository WhiteyOne/Kackle, pull requests merged in 2025-05, with the labels that each got.

#42 Ch/deploy
  README.md
Labels: security

#44 Staging into main
  README.md
Labels: security

#59 Rm/c.d.routes
  kackle/backend/app/__init__.py
  kackle/backend/app/api/delete_server.py
Labels: delete, Route

#55 Ccmt/getserversroute
  kackle/backend/app/routes/__init__.py
  kackle/backend/app/routes/server.py
Labels: get

#60 Cc/get routes
  kackle/backend/app/routes/server.py
Labels: get, Route

#61 Get All Servers react/FE started
  kackle/backend/app/__init__.py
  kackle/backend/app/api/delete_server.py
  kackle/backend/app/seeds/users.py
  kackle/backend/instance/dev.db
  kackle/frontend/dist/index.html
  kackle/frontend/index.html
  kackle/frontend/src/components/Modals/LoginFormModal/LoginForm.css
  kackle/frontend/src/components/Modals/LoginFormModal/LoginFormModal.jsx
  kackle/frontend/src/components/Modals/LoginFormModal/index.js
  kackle/frontend/src/components/Modals/OpenModalButton/OpenModalButton.jsx
  kackle/frontend/src/components/Modals/OpenModalButton/index.js
  kackle/frontend/src/components/Modals/SignupFormModal/SignupForm.css
  kackle/frontend/src/components/Modals/SignupFormModal/SignupFormModal.jsx
  kackle/frontend/src/components/Modals/SignupFormModal/index.js
  kackle/frontend/src/components/Navigation/Navigation.css
  kackle/frontend/src/components/Navigation/Navigation.jsx
  kackle/frontend/src/components/Navigation/ProfileButton.jsx
  kackle/frontend/src/components/Servers/GetAllServers/GetAllServers.css
  kackle/frontend/src/components/Servers/GetAllServers/GetAllServers.jsx
  kackle/frontend/src/components/Servers/GetAllServers/index.js
  kackle/frontend/src/components/Splash/LoginFormPage/LoginForm.css
  kackle/frontend/src/components/Splash/LoginFormPage/LoginFormPage.jsx
  kackle/frontend/src/components/Splash/LoginFormPage/index.js
  kackle/frontend/src/redux/Thunks/GetAllServers.js
  kackle/frontend/src/redux/session.js
  kackle/frontend/src/router/index.jsx
Labels: get, Front end, react, redux

#63 added gitignore and dockerignore files to root
  .dockerignore
  .gitignore
  README copy.md
Labels: debugged

#64 from my staging to yours
  backend/app/routes/server.py
Labels: Route

#83 Mh/fixing merg
  Dockerfile
  backend/Pipfile
  backend/Pipfile.lock
  backend/app/__init__.py
  backend/app/api/messages_routes.py
  backend/app/forms/message_form.py
  backend/app/socket.py
  backend/requirements.txt
  backend/socket_lecture.md
  bin/start.sh
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChannelMessages/ChannelMessages.css
  frontend/src/components/ChannelMessages/ChannelMessages.jsx
  frontend/src/components/Channels/Channels.jsx
  frontend/src/components/Channels/GetOneChannel.jsx
  frontend/src/components/Servers/GetAllServers.jsx
  frontend/src/config.js
  frontend/src/redux/channel_messages.js
  frontend/src/redux/channels.js
  frontend/src/redux/store.js
  frontend/src/router/index.jsx
Labels: delete, Front end, websocket

#92 Fixed issues with navigation when logging in to go to the servers page.
  frontend/src/components/Channels/Channels.jsx
  frontend/src/components/Channels/GetOneChannel.jsx
  frontend/src/components/LoginFormModal/LoginFormModal.jsx
  frontend/src/components/LoginFormPage/LoginFormPage.jsx
  frontend/src/components/Splash/LoginFormPage/LoginFormPage.jsx
Labels: Front end, debugged, react

#94 fixed issue with logging out causing errors.
  frontend/src/components/Servers/GetAllServers.jsx
Labels: Front end, debugged, react

#102 fixed channel bugs
  backend/app/api/delete_server.py
  backend/app/templates/create_server.html
  backend/instance/dev.db
  frontend/src/components/ChannelMessages/ChannelMessages.jsx
  frontend/src/components/Channels/CreateChannelModal.jsx
  frontend/src/components/Channels/DeleteChannelModal.jsx
  frontend/src/components/Channels/GetOneChannel.jsx
  frontend/src/components/Navigation/Navigation.jsx
  frontend/src/components/Servers/CreateDeleteServers/DeleteServerModal/DeleteServerModal.jsx
  frontend/src/redux/servers.js
Labels: Front end, debugged, Pair

#103 Mh/server fixes
  backend/app/__init__.py
  backend/app/api/messages_routes.py
  frontend/src/components/Servers/CreateDeleteServers/DeleteServerModal/DeleteServerModal.jsx
  frontend/src/components/Servers/CreateDeleteServers/UpdateServerModal.jsx
  frontend/src/components/Servers/GetAllServers.css
  frontend/src/components/Servers/GetOneServer.jsx
  frontend/src/redux/servers.js
Labels: put, Front end, debugged, validations, react
